*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	font-family: 'Open Sans', sans-serif !important;
	padding:0px;
	background-color:#FFCC00!important;
	overflow-x: hidden;
	overflow-y: auto;
	
}
.bg-success {
    background-color: #053d12!important;
}
.btn:not(:disabled):not(.disabled) {
 cursor: pointer;
}

a.navbar-brand{
	font-size:26px;
	font-weight: 700;
	color:rgb(255, 255, 255);
}
.nav-logo{
	width: 120px;
	height:110px;
	margin-left:10px;
}
.h2{
	font-weight:800;
	color:#41650E;
}
.nav-link{
	font-size: 600;
}
#h1{
	color:#41650E;
}
#login{
	margin-top: 150px;
}
#addc{
	margin-top:150px;
}
.lead{
color:#41650E;
font-size: 24px;
font-weight: 600;
}
.mb-0{
 color:black;
}
#div{
	margin-top:100px;
}
#c{
	margin-top:150px;;
}
.jumbotron text-center-my-5{
	position:absolute;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0;
    max-width: auto;
    margin-left:1rem;
}
.row {
    display:flex;
    justify-content: space-around;
    align-items: center;
	margin:0px;
	background-color:#FFCC00!important;

}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;


}

.card-title {
	margin-top: 1rem;
    font-weight: 600;
    color: seagreen;
    text-align: center;
}
.ul{
	text-align: left;
	margin-left:2rem;

}
.ul >li{
	text-align:left;
	list-style-type: none;
	color:#053d12;
	margin-left:1rem;
}
.btn{
	margin-top:0;
	margin-bottom:1em;
}

#p{
	background-color: #FDD017;
	margin-left: auto;
	text-align: center
}
.h6{
    font-size: 14px;
    font-weight: 600;
    margin: auto;
    color:#ffffff;
}
#pre-footer{
	display: flex;
	justify-content: space-between;
	background-color:#053d12 ;
	color:#41650E; 
	margin-bottom: 1em;
	margin-top:.5em;
	width: 100%;
}
.container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-bottom: 2rem;
  margin-top: 2rem;
  }
  .column3{
    margin-bottom: 1em;
}
.mb-0 {
	color:#FFFFFF;
	font-weight: 600;
}
.p1{
	color:#ffc107;
	font-weight: 500;
	display: flex;
	text-align: center;
}
.btn {
   
    margin-left: auto;
    margin-right:1rem
}
h1{
	font-weight: 900;
	color:#053d12 ;
}
.landing{
	width:800px;
	height:auto;
}
.concard{
	margin-right: 3rem;
	margin-left: 3rem;

}
.d-block1{
	margin-top: auto;
}
.d1{
	width: auto;
	height:auto;
	margin:0;

}

#coursesContainer {
    border-radius: 1em;
    background-color: #FFCC00 !important;
}

.btn-warning:hover {
    color: #212529;
    background-color:#fff!important; 
    border-color: #d39e00;
}

h2{
	font-weight: 800;
	color:#41650E ;
}
#createCourse{
	margin:2rem;
}
.PE{
	margin-left:2rem;
}